<div *ngIf="servers">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <h3>{{username}}'s servers</h3>
      <div class ='alert alert-danger' role="alert" *ngIf="delError != ''">
        {{delError}}
      </div>
      <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
          <th>Server</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let server of servers">
          <td>{{server.name}}</td>
          <td><a (click)="deleteServer(server)">Delete</a> | <a (click)="goToDetail(server)">View</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
